        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .booking-form {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: rgba(0, 109, 109, 0.6);
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .booking-form h2 {
            margin-bottom: 20px;
            text-align: center;
            color: #fff;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .form-group input,
        .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .form-group input[type="date"] {
            padding: 9px;
        }
        .form-group input:focus,
        .form-group select:focus {
            background-color: rgba(1, 54, 54, 0.729);
            outline: none;
        }
        .btn-submit {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: rgba(1, 54, 54, 0.729);
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }
        .btn-submit:hover {
            background-color: #00251f;
        }
