.bsdashboard-container {
    width: 80%;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #f8f9fa;
}

h1 {
    font-size: 10px;
    font-weight: bold;
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    background-color: #fff;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.table th {
    background-color: #f1f1f1;
    font-weight: bold;
    text-align: center;
}

.table td {
    text-align: center;
    vertical-align: middle;
}
