.footer-wrapper{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #004d40;
    color: white;
    /* margin-top: 145px; */
}

footer p {
    margin: 0;
}